* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

:root {
    --primary-color: #7651DC;
    --secondary-color: #FFCC69;
    --light-pink: #FAEEE2;
    --light-blue: #DCD1FC;
    --font-size-large: 2.5rem;
    --font-size-max-medium: 1.8rem;
    --font-size-medium: 1.5rem;
    --main-bg-color: #f5f5f5;
  }

  body {
    font-family: 'DM Sans', sans-serif;
    padding: 2rem 1rem;
    background-color: var(--main-bg-color);
  }

main {
    font-size: normal;
}

section {
    padding-block-end: 2rem;
}

/* ***********FIRST DIV*********************** */

.first-text-box {
    background-color: var(--primary-color);
    padding-block: 2rem 2.5rem;
    padding-inline: 3rem;
    border-radius: 10px;
}

.first-text-box h1 {
    color: #ffffff;
    font-size: var(--font-size-large);
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
}

.first-text-box h1 .ten-x {
    color: var(--secondary-color);
}

.first-img, .second-img {
    padding: 1rem;
    margin: 0 auto;
}

.first-text-box p {
    font-size: 1.2rem;
    color: #ffffff;
}

/* ***********SECOND DIV*********************** */

.white-box {
    background-color: #ffffff;
    /* border: 1px solid red; */
    padding: 1rem .5rem;
    border-radius: 10px;
}

.white-box-h1 {
    color: #000000;
    font-size: var(--font-size-medium);
    text-align: left;
    font-weight: 600;
    padding: 0 .5rem;
    line-height: 1.2;
}

/* ***********THIRD DIV*********************** */

.third-section {
    background-color: var(--secondary-color);
    padding-block: 1.2rem 0; 
    padding-inline: 1rem;
    border-radius: 10px;
}

.third-section-h1 {
    color: #000000;
    font-size: var(--font-size-max-medium);
    line-height: 1;
    text-align: left;
    font-weight: 600;
    padding-block: .5rem 1rem;
}

.third-img {
    height: auto;
    width: 70%;
}

/* ***********FOURTH DIV*********************** */

.fourth-section {
    background-color: var(--light-blue);
    padding-block: 2rem .8rem;
    padding-inline: 1rem;
    border-radius: 10px;
}

.fourth-section-h1 {
    color: #000000;
    font-size: 1.6rem;
    /* line-height: 1; */
    /* text-align: left; */
    font-weight: 600;
    padding-block: 0 1rem;
}

.fourth-p {
    padding-block: 1.5rem;
    line-height: 1.12;
    font-size: 1.3rem;
}

/* ***********FIFTH DIV*********************** */
.fifth-section {
    background-color: var(--primary-color);
    padding-block: 2rem 1rem;
    padding-inline: 3rem;
    border-radius: 10px;
}

.fifth-section-h1 {
    padding-block: 1.5rem;
    line-height: 1;
    font-size: var(--font-size-max-medium);
    font-weight: 550;
    color: #ffffff ;
}

/* ***********SIXTH DIV*********************** */
.sixth-section {
    background-color: #ffffff;
    padding-block: 1rem 1.2rem;
    padding-inline: 1rem;
    border-radius: 10px;
}

.sixth-section-h1 {
    text-align: left;
    font-size: var(--font-size-large);
    font-weight: 550;
    padding-block: 1rem .5rem;
}

.sixth-p {
    text-align: left;
    font-size: var(--font-size-medium);
    padding-block-end: 1rem;
    font-weight: 500;
}

.sixth-img {
    width: 70%;
    height: auto;
}

/* ***********SEVENTH DIV*********************** */

.seventh-section {
    padding-block: 1rem 1.5rem;
    padding-inline: 1.5rem;
    background-color: var(--light-pink);
    border-radius: 10px;
}

.seventh-section-h1 {
    text-align: left;
    font-size: var(--font-size-max-medium);
    font-weight: 600;
    line-height: 1;
    padding-block: 1rem 1.5rem;
}
.second-span {
    color: var(--primary-color);
    font-style: italic;
}

.seventh-img {
    width: 70%;
    height: auto;
}


/* ***********SEVENTH DIV*********************** */

.eight-section {
    padding: 1.5rem;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.eight-section-h1 {
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    padding-block: 1rem 1.5rem;
}

.eight-img {
    width: 70%;
    height: auto;
}